{% extends 'dashboard/base.html' %}
{% block content %}
{% load static %}


<div class="wrapper">

  <!-- NAV -->
  {%	include	"dashboard/nav.html"	with	user=user	%}

  <!-- SIDEBAR -->
  {%	include	"dashboard/sidebar.html"	with	user=user	%}

  <div class="content-header">
    <div class="container-fluid">

    </div><!-- /.container-fluid -->
  </div>
  <div class="content-wrapper" style="min-height: 1244.06px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title container">Donation</h3>
              </div>

              <div class="card-body">
                <div class="form-group">
                  
                    <div class="col-md-12 mb-3">
                      <label for="hsc">Doner name</label>
                      <input type="text" class="form-control" id="hsc" name="center-fee" placeholder="Doner name/ Govt./ Public">
                      <div class="invalid-feedback">
                        Enter doner name.
                      </div>
                    </div>

                    <div class="col-md-12 mb-3">
                      <label for="hons">Amount (&#2547;)</label>
                      <input type="text" class="form-control" id="hons" name="center-fee" placeholder="Amount (&#2547;)">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>

                    <!-- <div class="col-md-12 mb-3">                      
                      <label for="degree">Degree  Tuition fee</label>
                      <input type="text" class="form-control" id="degree" name="center-fee" placeholder="Center fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div> -->
                    
                    <button class="btn btn-info"><i class="fa fa-save" ></i>  Save</button>
                  
                  <!-- </div> -->
                </div>
              </div>
            </div>
          </div>
      </div><!-- /.container-fluid -->



    </section>
    <!-- /.content -->
  </div>

  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 1991-
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script> <a href="{% url 'index' %}">Khan Bahadur Awlad Hossein Degree College</a>.</strong>
    All rights reserved.

  </footer>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

</div>

<script>
  // Add the following code if you want the name of the file appear on select
  $(".custom-file-input").on("change", function () {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>

<script>

  // check box
  var tmp = [];
  
  $("input[type='checkbox']").change(function () {
    var checked = $(this).val();
    
    if ($(this).is(':checked')) {
      tmp.push(checked);
    } else {
      tmp.splice($.inArray(checked, tmp), 1);
    }
    console.log(tmp);
  });
  

  /* 
  $('#button').on('click', function () {
    alert(tmp);
  });
  */
 

</script>



{% endblock %}