{% extends 'dashboard/base.html' %}
{% block content %}
{% load static %}

<div class="wrapper">

  <!-- NAV -->
  {%	include	"dashboard/nav.html"	with	user=user	%}

  <!-- SIDEBAR -->
  {%	include	"dashboard/sidebar.html"	with	user=user	%}

  <div class="content-header">
    <div class="container-fluid">
      <!-- {% if registered %}

      <div class="alert alert-success" role="alert">
        New user added successuflly.
      </div>

      {% endif %} -->
    </div><!-- /.container-fluid -->
  </div>
  <div class="content-wrapper" style="min-height: 1244.06px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title"> Update</h3>
                
              </div>
              {% if registered %}
              <br>
              <!-- /.card-header -->
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Update successful.</strong>
                <button onclick="reload" type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>              
              
              {% endif %}
            
              <!-- form start -->
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Name" value="{{teacher.name}}" required>
                  </div>
                  
                  <div class="form-group row">
                    <div class="col-md-6 mb-3">
                      <label for="exampleInputPassword1">Date of join</label>
                      <input type="date" class="form-control" name="date" placeholder="Date of join" value = "{{teacher.joining_date | date:'Y-m-d' }}" required>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="country">Gender</label>
                      <select class="custom-select d-block w-100" name="gender" required>
                        <option value="">Choose...</option>
                        {% if teacher.gender == "Male"%}
                            <option selected>Male</option>
                            {% else %}
                            <option >Male</option>
                            {% endif %}
                            {% if teacher.gender == "Female"%}
                            <option selected>Female</option>
                            {% else %}
                            <option >Female</option>
                            {% endif %}
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid group.
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-6 mb-3">
                      <label for="firstName">Fist phone number</label>
                      <input type="text" id="p1" class="form-control" placeholder="Your phone number" name="phone1"
                        onkeyup="checkPhoneNumber();" value="{{teacher.phone_number}}" required>
                      <div class="invalid-feedback">
                        Please enter valid information.
                      </div>
                    </div>

                    <div class="col-md-6 mb-3">
                      <label for="lastName">Second phone number (optional)</label>
                      <input type="text" id="p2" class="form-control" placeholder="Your phone number" name="phone2" value="{{teacher.phone_number_2}}"
                        onkeyup="checkPhoneNumber();">
                      <div id="phone" class="invalid-feedback danger">
                        Please enter another phone number. Two phone number can't be same!
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">

                    <div class="col-md-6 mb-3">
                      <label for="firstName">SSC institute name</label>
                      <input type="text" class="form-control" placeholder="Institution name" name="ssc-i" value="{{education.ssc}}">
                      <div class="invalid-feedback">

                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="lastName">SSC Grade/ Class</label>
                      <input type="text" class="form-control" placeholder="Grade/ Class" name="ssc-g" value="{{education.ssc_grade}}">
                      <div class="invalid-feedback">

                      </div>
                    </div>


                    <div class="col-md-6 mb-3">
                      <label for="firstName">HSC institute name</label>
                      <input type="text" class="form-control" placeholder="Institution name" name="hsc-i" value="{{education.hsc}}">
                      <div class="invalid-feedback">

                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="lastName">HSC Grade/ Class</label>
                      <input type="text" class="form-control" placeholder="Grade/ Class" name="hsc-g" value="{{education.hsc_grade}}">
                      <div class="invalid-feedback">

                      </div>
                    </div>

                    <div class="col-md-4 mb-4">
                      <label for="country">Honours/ Degree</label>
                      <select class="custom-select d-block w-100" name="hons">
                        <option value="">Choose...</option>

                          {% if education.honours == "B. Com"%}
                          <option value="B. Com" selected>B. Com</option>
                            {% else %}
                            <option value="B. Com">B. Com</option>
                            {% endif %}
                            
                            {% if education.honours == "B. Com (Honours)"%}
                            <option value="B. Com (Honours)" selected>B. Com (Honours)</option>
                            {% else %}
                            <option value="B. Com (Honours)">B. Com (Honours)</option>
                            {% endif %}

                          {% if education.honours == "B. SC"%}
                          <option value="B. SC" selected>B. SC</option>
                            {% else %}
                            <option value="B. SC">B. SC</option>
                            {% endif %}
                            
                            {% if education.honours == "B. SC (Honours)"%}
                            <option value="B. SC (Honours)" selected>B. SC (Honours)</option>
                            {% else %}
                            <option value="B. SC (Honours)">B. SC (Honours)</option>
                            {% endif %}

                          {% if education.honours == "BA"%}
                          <option value="BA" selected>BA</option>
                            {% else %}
                            <option value="BA">BA</option>
                            {% endif %}
                            
                            {% if education.honours == "BA (Honours)"%}
                            <option value="BA (Honours)" selected>BA (Honours)</option>
                            {% else %}
                            <option value="BA (Honours)">BA (Honours)</option>
                            {% endif %}

                        <!-- <option value="B. Com">B. Com</option>
                        <option value="B. Com (Honours)">B. Com (Honours)</option>
                        <option value="B. SC">B. SC</option>
                        <option value="B. SC (Honours)">B. SC (Honours)</option>
                        <option value="BA">BA</option>
                        <option value="BA (Honours)">BA (Honours)</option> -->
                      </select>

                    </div>

                    <div class="col-md-4 mb-4">
                      <label for="country">From</label>
                      <input type="text" class="form-control" placeholder="Institution name" name="hons-i" value="{{education.honours_from}}">

                    </div>

                    <div class="col-md-4 mb-4">
                      <label for="lastName">Grade/ Class</label>
                      <input type="text" class="form-control" placeholder="Grade/ Class" name="hons-g" value="{{education.honours_grade}}">

                    </div>

                    <div class="col-md-4 mb-4">
                      <label for="country">Master's Degree</label>
                      <select class="custom-select d-block w-100" name="mast">
                        <option value="">Choose...</option>

                        {% if education.masters == "MA"%}
                        <option value="MA" selected>MA</option>
                          {% else %}
                          <option value="MA">MA</option>
                          {% endif %}
                          

                        {% if education.masters == "M. Com"%}
                        <option value="M. Com" selected>M. Com</option>
                          {% else %}
                          <option value="M. Com">M. Com</option>
                          {% endif %}
                          

                        {% if education.masters == "M. SC"%}
                        <option value="M. SC" selected>M. SC</option>
                          {% else %}
                          <option value="M. SC">M. SC</option>
                          {% endif %}
                          
                        <!-- <option value="MA">MA</option>
                        <option value="M. Com">M. Com</option>
                        <option value="M. SC">M. SC</option> -->

                      </select>

                    </div>

                    <div class="col-md-4 mb-4">
                      <label for="country">From</label>
                      <input type="text" class="form-control" placeholder="Institution name" name="mast-i" value="{{education.masters_from}}">

                    </div>

                    <div class="col-md-4 mb-4">
                      <label for="lastName">Grade/ Class</label>
                      <input type="text" class="form-control" placeholder="Grade/ Class" name="mast-g" value="{{education.masters_grade}}">

                    </div>

                    <div class="col-md-6 mb-3">
                      <label for="firstName">PhD from</label>
                      <input type="text" class="form-control" placeholder="Institution name" name="phd-i" value="{{education.phd}}">
                      <div class="invalid-feedback">

                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="lastName">Subject</label>
                      <input type="text" class="form-control" placeholder="Subject" name="phd-g" value="{{education.subject}}">
                      <div class="invalid-feedback">

                      </div>
                    </div>
                  </div>

                  <div class="form-group row">

                    <div class="col-md-6 mb-3">
                      <label for="exampleInputPassword1">Designation</label>

                      <select class="custom-select d-block w-100" name="dsg">
                        <option value="">Choose...</option>
                        {% if teacher.designation == "Assistant professor"%}
                        <option value="Assistant professor" selected>Assistant professor</option>
                          {% else %}
                          <option value="Assistant professor">Assistant professor</option>
                          {% endif %}

                        {% if teacher.designation == "Professor"%}
                        <option value="Professor" selected>Professor</option>
                          {% else %}
                          <option value="Professor">Professor</option>
                          {% endif %}

                        {% if teacher.designation == "Lecturer"%}
                        <option value="Lecturer" selected>Lecturer</option>
                          {% else %}
                          <option value="Lecturer">Lecturer</option>
                          {% endif %}
<!-- 
                        <option value="Assistant professor">Assistant professor</option>
                        <option value="Professor">Professor</option>
                        <option value="Lecturer">Lecturer</option> -->

                      </select>
                    </div>

                    <div class="col-md-6 mb-3">
                      <label for="exampleInputPassword1">Teacher of</label>

                      <select class="custom-select d-block w-100" name="teacher">
                        <option value="">Choose...</option>
                        
                        {% if teacher.subject == "Accounting"%}
                        <option value="Accounting" selected>Accounting</option>
                          {% else %}
                          <option value="Accounting">Accounting</option>
                          {% endif %}

                        {% if teacher.subject == "Bangla"%}
                        <option value="Bangla" selected>Bangla</option>
                          {% else %}
                          <option value="Bangla">Bangla</option>
                          {% endif %}

                        {% if teacher.subject == "Biology"%}
                        <option value="Biology" selected>Biology</option>
                          {% else %}
                          <option value="Biology">Biology</option>
                          {% endif %}

                        {% if teacher.subject == "Chemistry"%}
                        <option value="Chemistry" selected>Chemistry</option>
                          {% else %}
                          <option value="Chemistry">Chemistry</option>
                          {% endif %}

                          {% if teacher.subject == "Civics"%}
                          <option value="Civics" selected>Civics</option>
                            {% else %}
                            <option value="Civics">Civics</option>
                            {% endif %}

                        {% if teacher.subject == "Economics"%}
                        <option value="Economics" selected>Economics</option>
                          {% else %}
                          <option value="Economics">Economics</option>
                          {% endif %}

                       
                        {% if teacher.subject == "English"%}
                        <option value="English" selected>English</option>
                          {% else %}
                          <option value="English">English</option>
                          {% endif %}
                       
                        {% if teacher.subject == "Finance"%}
                        <option value="Finance" selected>Finance</option>
                          {% else %}
                          <option value="Finance">Finance</option>
                          {% endif %}
                       
                        {% if teacher.subject == "Geography"%}
                        <option value="Geography" selected>Geography</option>
                          {% else %}
                          <option value="Geography">Geography</option>
                          {% endif %}

                        {% if teacher.subject == "Islamic History"%}
                        <option value="Islamic History" selected>Islamic History</option>
                          {% else %}
                          <option value="Islamic History">Islamic History</option>
                          {% endif %}

                        {% if teacher.subject == "Islamic Study"%}
                        <option value="Islamic Study" selected>Islamic Study</option>
                          {% else %}
                          <option value="Islamic Study">Islamic Study</option>
                          {% endif %}

                        {% if teacher.subject == "Management"%}
                        <option value="Management" selected>Management</option>
                          {% else %}
                          <option value="Management">Management</option>
                          {% endif %}

                        {% if teacher.subject == "Marketing"%}
                        <option value="Marketing" selected>Marketing</option>
                          {% else %}
                          <option value="Marketing">Marketing</option>
                          {% endif %}

                        {% if teacher.subject == "Math"%}
                        <option value="Math" selected>Math</option>
                          {% else %}
                          <option value="Math">Math</option>
                          {% endif %}

                        {% if teacher.subject == "Physics"%}
                        <option value="Physics" selected>Physics</option>
                          {% else %}
                          <option value="Physics">Physics</option>
                          {% endif %}

                        {% if teacher.subject == "Sociology"%}
                        <option value="Sociology" selected>Sociology</option>
                          {% else %}
                          <option value="Sociology">Sociology</option>
                          {% endif %}

                       

                        <!-- <option value="Accounting">Accounting</option>
                        <option value="Bangla">Bangla</option>
                        <option value="Biology">Biology</option>
                        <option value="Chemistry">Chemistry</option>
                        <option value="Civics">Civics</option>
                        <option value="Economics">Economics</option>
                        <option value="English">English</option>
                        <option value="Finance">Finance</option>
                        <option value="Geography">Geography</option>
                        <option value="Islamic History">Islamic History</option>
                        <option value="Islamic Study">Islamic Study</option>
                        <option value="Management">Management</option>
                        <option value="Marketing">Marketing</option>
                        <option value="Math">Math</option>
                        <option value="Physics">Physics</option>
                        <option value="Sociology">Sociology</option> -->

                      </select>
                    </div>

                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile">Select photo</label>
                    <div class="input-group">
                      <input type="file" class="custom-file-input" id="customFile" name="filename">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>
                  <div class="invalid-feedback danger" id="photo">
                    Image size must be under 2 Mb and must contain passpoart size image.
                  </div>

                  <div class="form-group ">

                    


                    <div class="form-check">
                      <!-- Material checked -->
                      <div class="form-check">
                        {% if teacher.dept_head%}
                        <input type="checkbox" class="form-check-input" id="ac" name="head" value="Accounting" checked>
                        {% else %}
                        <input type="checkbox" class="form-check-input" id="ac" name="head" value="Accounting">
                        {% endif %}
                        <label class="form-check-label" for="ac">
                          <h5> <b> Depertment Head </b></h5>
                        </label>
                      </div>
                      

                    </div>
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary swalDefaultSuccess" id="add">Add new teacher</button>
                </div>
              </form>
              

              {% if messages %}
              <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
              </div>
              {% endif %}

            </div>
            <!-- /.card -->


          </div>
          <!--/.col (left) -->
          <!-- right column -->

          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 1991-
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script> <a href="{% url 'index' %}">Khan Bahadur Awlad Hossein Degree College</a>.</strong>
    All rights reserved.

  </footer>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
  // Add the following code if you want the name of the file appear on select
  $(".custom-file-input").on("change", function () {
    var fileName = $(this).val().split("\\").pop();
    size = this.files[0].size / 1024 / 1024;
    if (size > 2) {
      document.getElementById('photo').style.display = "block";
    }
    else {
      document.getElementById('photo').style.display = "none";
    }
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>
<!-- bs-custom-file-input -->
<script src="{% static 'dashboard/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dashboard/dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dashboard/dist/js/demo.js' %}"></script>

<script>

  // PHONE NUMBER CHECKER
  function checkPhoneNumber() {
    var phone1 = document.getElementById('p1');
    var phone2 = document.getElementById('p2');
    // console.log('phone2');
    // alert(phone2.value.trim());
    // alert(phone1.value.trim());
    if (phone1.value.trim() == phone2.value.trim()) {
      if (phone2.value.trim() != '' || phone2.value.trim() != '') {
        console.log("!");
        document.getElementById('phone').style.display = "block";
      }

    }
    else {
      console.log("k");
      document.getElementById('phone').style.display = "none";
    }

  }

  // EMAIL CHECK 
  function getEmail() {
    email = document.getElementById('email-info').value;
    console.log(email);
    if (email != "") {
      $.ajax({
        url: "{% url 'user-list' %}",
        data: {
          'email': email
        },
        dataType: 'html',
        success: function (data) {
          // console.log("ok");
          if (data == 'True') {
            // console.log('found');
            document.getElementById('email-exists').style.display = "block";
            document.getElementById('add').disabled = true;
          }
          else {
            document.getElementById('email-exists').style.display = "none";
            document.getElementById('add').disabled = false;
          }
        }
      });

    }
    else {
      document.getElementById('email-exists').style.display = "none";
      document.getElementById('add').disabled = false;
    }

  }

  // CHECK CHEKCBOX IS CHECKED OR NOT


</script>

{% endblock %}