{% extends 'dashboard/base.html' %}
{% block content %}
{% load static %}


<div class="wrapper">

  <!-- NAV -->
  {%	include	"dashboard/nav.html"	with	user=user	%}

  <!-- SIDEBAR -->
  {%	include	"dashboard/sidebar-s.html"	with	user=person	%}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{payment.total}}<sup style="font-size: 20px">TK</sup></h3>

                <p>Total payable monthly fee</p>
              </div>
              <div class="icon">
                <i class="fa fa-users"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{tutionfee.tutionfee__sum}}<sup style="font-size: 20px">TK</sup></h3>

                <p>Today paid monthly fee</p>
              </div>
              <div class="icon">
                <i class="fa fa-user"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{receipts}}<sup style="font-size: 20px"></sup></h3>

                <p>Total receipts</p>
              </div>
              <div class="icon">
                <i class="far fa-money-bill-alt"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{others}}<sup style="font-size: 20px">TK</sup></h3>

                <p>Others</p>
              </div>
              <div class="icon">
                <i class="far fa-money-bill-alt"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- pi chart one -->
          <div class="col-lg-6">
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Male female teacher ratio</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                      class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="pieChart"
                  style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          <!-- pi chart two -->
          <div class="col-lg-6">
            <div class="card card-success">
           <div class="card-header">
             <h3 class="card-title">Total Student in Different Courses</h3>

             <div class="card-tools">
               <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
               </button>
               <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
             </div>
           </div>
           <div class="card-body">
             <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
           </div>
           <!-- /.card-body -->
         </div>
       </div>
          <!-- pi chart thee -->
          <div class="col-lg-6">
            <div class="card card-info">
           <div class="card-header">
             <h3 class="card-title">Notice board</h3>

             <div class="card-tools">
               <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
               </button>
               <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
             </div>
           </div>
           <div class="card-body">
             <canvas id="donutChart-2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
           </div>
           <!-- /.card-body -->
         </div>
       </div>

          <div class="col-lg-6">
            <div class="card card-info">
           <div class="card-header">
             <h3 class="card-title">Last four transactions</h3>

             <div class="card-tools">
               <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
               </button>
               <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
             </div>
           </div>
           <div class="card-body">
            <table class="table table-head-fixed  table table-hover">
              <thead>
                <tr style="text-align: center;">                          
                  <th>#</th>                                  
                  <th>Name</th>
                  <th>Amount</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>  
                {% for i in transaction %}                             
                <tr style="text-align: center;">                                  
                  <td>{{i.serial_no}}</td>
                  <td>{{i.user.name}}</td>
                  <td>{{i.total_amount}}</td>
                  <td>{{i.update_date}}</td>                                  
                </tr>  
                {% endfor %}                              
                                        
                 </tbody>
            </table>
           </div>
           <!-- /.card-body -->
         </div>
       </div>
        </div>

        <div class="row">
          
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 1991-
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script> <a href="{% url 'index' %}">Khan Bahadur Awlad Hossein Degree College</a>.</strong>
    All rights reserved.

  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<script>
  $(document).ready(function () {


    // pi chart 3
    
     // Get context with jQuery - using jQuery's .get() method.
     var donutChartCanvas_2 = $('#donutChart-2').get(0).getContext('2d')
     var donutData_2       = {
       labels: [
       '1st Class', 
       '2nd Class',
       '3rd class', 
       '4th class',            
       ],
       datasets: [
         {
          data: [ {{ first }},{{second}},{{third}},{{fourth}}],
           backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef'],
         }
       ]
     }
     var donutOptions_2     = {
       maintainAspectRatio : false,
       responsive : true,
     }
     //Create pie or douhnut chart
     // You can switch between pie and douhnut using the method below.
     var donutChart_2 = new Chart(donutChartCanvas_2, {
       type: 'doughnut',
       data: donutData_2,
       options: donutOptions_2    
     })



    // pi chart 2

     // Get context with jQuery - using jQuery's .get() method.
     var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
     var donutData        = {
       labels: [
       'HSC', 
       'Honours',
       'Degree', 
       'IBM',            
       ],
       datasets: [
         {
          data: [ {{ hsc }},{{honours}},{{degree}},{{ibm}}],
           backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef'],
         }
       ]
     }
     var donutOptions     = {
       maintainAspectRatio : false,
       responsive : true,
     }
     //Create pie or douhnut chart
     // You can switch between pie and douhnut using the method below.
     var donutChart = new Chart(donutChartCanvas, {
       type: 'doughnut',
       data: donutData,
       options: donutOptions      
     })



    // pi chart one
    var pieData = {
      labels: [
        'Male',
        'Female'
      ],
      datasets: [
        {
          data: [{{ male_teacher }}, {{ female_teacher }}],
      backgroundColor: ['#f56954', '#00a65a'],
  }
      ]
 };

  var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
  var pieOptions = {
    maintainAspectRatio: false,
    responsive: true,
  }
  //Create pie or douhnut chart
  // You can switch between pie and douhnut using the method below.
  var pieChart = new Chart(pieChartCanvas, {
    type: 'pie',
    data: pieData,
    options: pieOptions
  });
  })

  

   

</script>


{% endblock %}