{% extends 'dashboard/base.html' %}
{% block content %}
{% load static %}

<!-- Bootstrap Switch Button CDN -->
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<div class="wrapper">

  <!-- NAV -->
  {%	include	"dashboard/nav.html"	with	user=user	%}

  <!-- SIDEBAR -->
  {%	include	"dashboard/sidebar.html"	with	user=user	%}

  <div class="content-header">
    <div class="container-fluid">

    </div><!-- /.container-fluid -->
  </div>
  <div class="content-wrapper" style="min-height: 1244.06px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title container">Students information</h3>
              </div>

              <div class="card-body">
                <div class="form-group">
                  <!-- <div class="row"> -->
                  <div class="col-6">
                    <h6> <b>Name:</b> {{student.name}}</h6>
                  </div>
                  <div class="col-6">
                    <h6><b>Roll:</b> {{student.roll}}</h6>
                  </div>
                  <div class="col-6">
                    <h6><b>Class:</b> {{student.course}} ( {{student.group}} )</h6>
                  </div>
                  <div class="col-6">
                    <h6><b>Year:</b> </h6>
                  </div>
                  <div class="col-6">
                    <input type="checkbox" id="fee" data-toggle="toggle" data-size="sm" data-onstyle="outline-info" data-offstyle="outline-danger">
                    <label for="fee"> Monthly Fee </label>
                    <br>
                    
                    <input type="checkbox" id="admission" data-toggle="toggle" data-size="sm" data-onstyle="outline-info" data-offstyle="outline-danger">
                    <label for="admission"> Admission Fee </label> 
                    <br>                
                    
                    <input type="checkbox" id="exam" data-toggle="toggle" data-size="sm" data-onstyle="outline-info" data-offstyle="outline-danger">
                    <label for="exam"> Examination Fee</label>
                    <br>

                    <input type="checkbox" id="others" data-toggle="toggle" data-size="sm" data-onstyle="outline-info" data-offstyle="outline-danger">
                    <label for="others"> Others Fee</label>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title container">Paid month list</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <!-- <form method="POST"> -->
              <!-- {% csrf_token %} -->
              <div class="card-body">
                <div class="form-group">
                  <div class="row">
                    <div class="col-3">
                      <div class="icheck-success">
                        <input type="checkbox" id="jan" value="January">
                        <label for="jan">
                          January
                        </label>
                      </div>
                      <div class="icheck-success">
                        <input type="checkbox" id="feb" value="February">
                        <label for="feb">
                          February
                        </label>
                      </div>
                      <div class="icheck-success">
                        <input type="checkbox" id="mar" value="March">
                        <label for="mar">
                          March
                        </label>
                      </div>
                    </div>

                    <div class="col-3">
                      <div class="icheck-success">
                        <input type="checkbox" id="apr" value="April">
                        <label for="apr">
                          April
                        </label>
                      </div>
                      <div class="icheck-success">
                        <input type="checkbox" id="may" value="May">
                        <label for="may">
                          May
                        </label>
                      </div>
                      <div class="icheck-success">
                        <input type="checkbox" id="june" value="June">
                        <label for="june">
                          June
                        </label>
                      </div>
                    </div>

                    <div class="col-3">
                      <div class="icheck-success">
                        <input type="checkbox" id="jul" value="July">
                        <label for="jul">
                          July
                        </label>
                      </div>
                      <div class="icheck-success">
                        <input type="checkbox" id="aug" value="August">
                        <label for="aug">
                          August
                        </label>
                      </div>
                      <div class="icheck-success">
                        <input type="checkbox" id="sept" value="September">
                        <label for="sept">
                          September
                        </label>
                      </div>
                    </div>

                    <div class="col-3">
                      <div class="icheck-success">
                        <input type="checkbox" id="oct" value="Octobor">
                        <label for="oct">
                          Octobor
                        </label>
                      </div>
                      <div class="icheck-success">
                        <input type="checkbox" id="nov" value="Novembor">
                        <label for="nov">
                          Novembor
                        </label>
                      </div>
                      <div class="icheck-success">
                        <input type="checkbox" id="dec" value="Decembor">
                        <label for="dec">
                          Decembor
                        </label>
                      </div>
                    </div>

                  </div>

                </div>

                <div class="form-group">


                </div>
                <div class="form-group">

                </div>
              </div>
              <!-- /.card-body -->


              <!-- <div class="card-footer">
                  <button type="submit" class="btn btn-primary swalDefaultSuccess">Add new depertment</button>
                </div> -->
              <!-- </form> -->

              <!-- {% if messages %}
              <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
              </div>
              {% endif %} -->

            </div>
            <!-- /.card -->


          </div>
          <!--/.col (left) -->
          <!-- right column -->

          <!--/.col (right) -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title container">Tuition fee and other fee collection receipts</h3>
              </div>

              <div class="card-body">
                <div class="form-group">
                  <div class="row">
                    <!-- TUITION FEE -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-1">
                        <label class="custom-control-label" for="sw-1">
                          <label for="monthly-fee">Monthly Tuition fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="monthly-fee" name="monthly-tuition-fee"
                        placeholder="Tuition fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- EXAM FEE -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-2">
                        <label class="custom-control-label" for="sw-2">
                          <label for="exam">College Examination fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="exam" name="exam-fee"
                        placeholder="College Examination fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- BOARD OR UNIVERSITY EXAM FEE -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-3">
                        <label class="custom-control-label" for="sw-3">
                          <label for="board">Board/ University Examination fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="board" name="board-fee"
                        placeholder="Board/ University Examination fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- COLLEGE DEVELOPMENT FEE -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-4">
                        <label class="custom-control-label" for="sw-4">
                          <label for="development">College Development fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="development" name="clg-development"
                        placeholder="College Development fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- MILAD/ PUJA-->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-5">
                        <label class="custom-control-label" for="sw-5">
                          <label for="mp">Milad/ Puja</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="mp" name="mp-fee" placeholder="Milad/ Puja">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- LIBRARY FEE -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-6">
                        <label class="custom-control-label" for="sw-6">
                          <label for="library">Library fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="library" name="library-fee" placeholder="Library fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- COLLEGE SPORTS FEE -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-7">
                        <label class="custom-control-label" for="sw-7">
                          <label for="clg-sports">College sports fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="clg-sports" name="clg-sports-fee"
                        placeholder="College sports fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- BOARD/ UNIVERSITY SPORTS FEE -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-8">
                        <label class="custom-control-label" for="sw-8">
                          <label for="board-sports">Board/ University sports fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="board-sports" name="board-sports-fee"
                        placeholder="Board/ University sports fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- POOR FUND -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-9">
                        <label class="custom-control-label" for="sw-9">
                          <label for="poor">Poor fund</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="poor" name="poor-fund" placeholder="Poor fund">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- SCIENCE AND TECH FEE -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-10">
                        <label class="custom-control-label" for="sw-10">
                          <label for="st">Science and Technologic fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="st" name="st-fee"
                        placeholder="Science and Technologic fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- COMPUTER LAB FEE -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-11">
                        <label class="custom-control-label" for="sw-11">
                          <label for="cl">Computer lab fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="cl" name="cl-fee" placeholder="Computer lab fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- ADMISSION FEE -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-12">
                        <label class="custom-control-label" for="sw-12">
                          <label for="admissin">Admission fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="admissin" name="admissin-fee"
                        placeholder="Admission fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- REG FEE -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-13">
                        <label class="custom-control-label" for="sw-13">
                          <label for="reg">Registration fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="reg" name="reg-fee" placeholder="Registration fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- ROVERS/ GIRLS GUIDE FEE -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-14">
                        <label class="custom-control-label" for="sw-14">
                          <label for="rov-clg">Rovers/ Girls guide College fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="rov-clg" name="rov-clg-fee"
                        placeholder="Rovers/ Girls guide College fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- ROVERS/ GIRLS GUIDE FEE -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-15">
                        <label class="custom-control-label" for="sw-15">
                          <label for="rov-board">Rovers/ Girls guide Board/ University fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="rov-board" name="rov-board-fee"
                        placeholder="Rovers/ Girls guide Board/ University fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- TRANSFER FEE -->
                    <!-- <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-16">
                        <label class="custom-control-label" for="sw-16">
                          <label for="transfer">Transfer fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="transfer" name="transfer-fee"
                        placeholder="Transfer fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div> -->
                    <!-- TRANSFER FEE -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-17">
                        <label class="custom-control-label" for="sw-17">
                          <label for="transfer">College Transfer fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="transfer" name="transfer-fee"
                        placeholder="College Transfer fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- ID CARD FEE -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-18">
                        <label class="custom-control-label" for="sw-18">
                          <label for="id">ID Card fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="id" name="id-fee" placeholder="ID Card fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- CERTIFICATE FEE -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-19">
                        <label class="custom-control-label" for="sw-19">
                          <label for="certificate">Certificate/ Transcript fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="certificate" name="certificate-fee"
                        placeholder="Certificate/ Transcript fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- CERTIFICATE FEE
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-20">
                        <label class="custom-control-label" for="sw-20">
                          <label for="certificate">Certificate/ Transcript fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="certificate" name="certificate-fee"
                        placeholder="Certificate/ Transcript fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div> -->
                    <!-- RETENTION FEE -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-21">
                        <label class="custom-control-label" for="sw-21">
                          <label for="ret">Retention fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="ret" name="ret-fee" placeholder="Retention fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- TESTIMONIAL/ CHAR/ OHTER FEE -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-22">
                        <label class="custom-control-label" for="sw-22">
                          <label for="test">Testimonial/ Character/ Other Certificate fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="test" name="test-fee"
                        placeholder="Testimonial/ Character/ Other Certificate fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- PAPER MAGAZINES -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-23">
                        <label class="custom-control-label" for="sw-23">
                          <label for="paper">Paper/ Magazines</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="paper" name="paper-fee"
                        placeholder="Paper/ Magazines">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- PRACTICAL -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-24">
                        <label class="custom-control-label" for="sw-24">
                          <label for="practical">Practical fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="practical" name="practical-fee"
                        placeholder="Practical fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- WATER/ ELEC/ TEL -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-25">
                        <label class="custom-control-label" for="sw-25">
                          <label for="water">Water/ Electricity/ Telephone</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="water" name="bill"
                        placeholder="Water/ Electricity/ Telephone">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- MANAGEMENT -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-26">
                        <label class="custom-control-label" for="sw-26">
                          <label for="management">Management fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="management" name="management-fee"
                        placeholder="Management fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- 4th PAPER -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-27">
                        <label class="custom-control-label" for="sw-27">
                          <label for="fourth">Fourth paper fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="fourth" name="fourth-fee"
                        placeholder="Fourth paper fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- LATE FINE -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-28">
                        <label class="custom-control-label" for="sw-28">
                          <label for="late">Late fine</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="late" name="late-fee" placeholder="Late fine">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <!-- CENTER FEE -->
                    <div class="col-md-12 mb-3">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="sw-29">
                        <label class="custom-control-label" for="sw-29">
                          <label for="center">Center fee</label>
                        </label>
                      </div>
                      <input type="text" class="form-control" id="center" name="center-fee" placeholder="Center fee">
                      <div class="invalid-feedback">
                        Must contain number.
                      </div>
                    </div>
                    <div class="col-md-12 mb-3">
                      <h5>Total fee: &#2547; 100000</h5>
                    </div>
                    <div class="col-md-12 mb-3">
                      <div class="container">
                      <button class="btn btn-success"><i class="fa fa-save" ></i>  Save</button>
                      <button class="btn btn-info"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
                      </div>                      
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div><!-- /.container-fluid -->



    </section>
    <!-- /.content -->
  </div>

  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 1991-
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script> <a href="{% url 'index' %}">Khan Bahadur Awlad Hossein Degree College</a>.</strong>
    All rights reserved.

  </footer>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
  // Add the following code if you want the name of the file appear on select
  $(".custom-file-input").on("change", function () {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>
<!-- bs-custom-file-input -->
<script src="{% static 'dashboard/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dashboard/dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dashboard/dist/js/demo.js' %}"></script>

<script>

  // check box
  var tmp = [];
  
  $("input[type='checkbox']").change(function () {
    var checked = $(this).val();
    
    if ($(this).is(':checked')) {
      tmp.push(checked);
    } else {
      tmp.splice($.inArray(checked, tmp), 1);
    }
    console.log(tmp);
  });
  

  /* 
  $('#button').on('click', function () {
    alert(tmp);
  });
  */
 

</script>



{% endblock %}