{% extends 'dashboard/base.html' %}
{% block content %}
{% load static %}

<div class="wrapper">

  <!-- NAV -->
  {%	include	"dashboard/nav.html"	with	user=user	%}

  <!-- SIDEBAR -->
  {%	include	"dashboard/sidebar.html"	with	user=user	%}

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <style>
    input.hidden {
      position: absolute;
      left: -9999px;
    }

    #profile-image1 {
      cursor: pointer;

      width: 100px;
      height: 100px;
      border: 2px solid #03b1ce;
    }

    .tital {
      font-size: 16px;
      font-weight: 500;
    }

    .bot-border {
      border-bottom: 1px #f8f8f8 solid;
      margin: 5px 0 5px 0
    }
  </style>
  <div class="content-wrapper" style="min-height: 1244.06px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- PROFILE -->

          <div class="container">
            <div class="row">

              <div class="col-md-7 ">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4>{{user_profile.name}}'s Profile</h4>
                  </div>
                  <div class="panel-body">

                    <div class="box box-info">

                      <div class="box-body">
                        <div class="col-sm-6">
                          <div align="center"> <img alt="User Pic"
                              src="{{user_profile.teacher_img.url}}"
                              id="profile-image1" class="img-circle img-responsive">

                          </div>

                          <br>

                          <!-- /input-group -->
                        </div>
                        <div class="col-sm-6">
                          <h4 style="color:#00b1b1;">{{user_profile.name}} </h4></span>
                          <span>
                            <p>(#{{group.name}})</p>
                          </span>
                        </div>
                        <div class="clearfix"></div>
                        <hr style="margin:5px 0 5px 0;">


                        <div class="col-sm-5 col-xs-6 tital ">Name:</div>
                        <div class="col-sm-7 col-xs-6 ">{{user_profile.name}}</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        {% if group.name == 'student' %}

                        <div class="col-sm-5 col-xs-6 tital ">Father's Name:</div>
                        <div class="col-sm-7"> {{about.fathers_name}}</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-sm-5 col-xs-6 tital ">Mother's Name:</div>
                        <div class="col-sm-7"> {{about.mothers_name}}</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        {% endif %}

                        <div class="col-sm-5 col-xs-6 tital ">phone number:</div>
                        <div class="col-sm-7"> {{about.phone_number}}</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        {% if group.name == 'student' %}

                        <div class="col-sm-5 col-xs-6 tital ">Parent's number:</div>

                        {% else %}

                        <div class="col-sm-5 col-xs-6 tital ">Phone number (2):</div>

                        {% endif %}

                        <div class="col-sm-7"> {{about.parents_number}} </div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-sm-5 col-xs-6 tital ">Email:</div>
                        <div class="col-sm-7"> {{user_profile.email}} </div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        {% if group.name == 'student' %}

                        <div class="col-sm-5 col-xs-6 tital ">Roll#:</div>
                        <div class="col-sm-7"> {{user_profile.roll}} </div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        {% endif %}

                        {% if group.name != 'staff' %}

                        <div class="col-sm-5 col-xs-6 tital ">Date Of Birth:</div>
                        <div class="col-sm-7">{{about.date_of_birth}}</div>

                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-sm-5 col-xs-6 tital ">Gender:</div>
                        <div class="col-sm-7">{{about.gender}}</div>

                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-sm-5 col-xs-6 tital ">Blood group:</div>
                        <div class="col-sm-7">{{about.blood_group}}</div>

                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-sm-5 col-xs-6 tital ">NID#:</div>
                        <div class="col-sm-7">{{about.nid}}</div>

                        <div class="clearfix"></div>
                        <div class="bot-border"></div>                        

                        <div class="col-sm-5 col-xs-6 tital ">Marital status:</div>
                        <div class="col-sm-7">{{about.marital_status}}</div>

                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-sm-5 col-xs-6 tital ">Present address:</div>
                        <div class="col-sm-7">{{about.present_address}}</div>

                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-sm-5 col-xs-6 tital ">Permanent address:</div>
                        <div class="col-sm-7">{{about.permanent_address}}</div>

                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        {% endif %}

                        {% if group.name == 'student' %}

                        <div class="col-sm-5 col-xs-6 tital ">SSC Roll:</div>
                        <div class="col-sm-7">{{education.ssc_roll}}</div>

                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-sm-5 col-xs-6 tital ">SSC GPA:</div>
                        <div class="col-sm-7">{{education.ssc_grade}}</div>

                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-sm-5 col-xs-6 tital ">SSC year:</div>
                        <div class="col-sm-7">{{education.ssc_year}}</div>

                        <div class="clearfix"></div>
                        <div class="bot-border"></div>  

                        {% if education.hsc_grade != null %}
                        
                        <div class="col-sm-5 col-xs-6 tital ">HSC Roll:</div>
                        <div class="col-sm-7">{{education.hsc_roll}}</div>

                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-sm-5 col-xs-6 tital ">HSC GPA:</div>
                        <div class="col-sm-7">{{education.hsc_grade}}</div>

                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-sm-5 col-xs-6 tital ">HSC year:</div>
                        <div class="col-sm-7">{{education.hsc_year}}</div>

                        {% endif %}

                        {% endif %}

                        
                        {% if group.name == 'teacher' %}

                        <div class="col-sm-5 col-xs-6 tital ">Honours year:</div>
                        <div class="col-sm-7">{{education.honours_year}}</div>

                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-sm-5 col-xs-6 tital ">Honours grade:</div>
                        <div class="col-sm-7">{{education.honours_grade}}</div>

                        <div class="clearfix"></div>
                        <div class="bot-border"></div>


                        {% if education.masters_year != null %}
                        
                        <div class="col-sm-5 col-xs-6 tital ">Masters year:</div>
                        <div class="col-sm-7">{{education.masters_year}}</div>

                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-sm-5 col-xs-6 tital ">Masters grade:</div>
                        <div class="col-sm-7">{{education.masters_grade}}</div>

                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        {% endif %}

                        {% endif %}



                        <div class="clearfix"></div>
                        <div class="bot-border"></div>
                        

                        <!-- /.box-body -->
                      </div>
                      <!-- /.box -->

                    </div>


                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- /PROFILE -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 1991-
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script> <a href="{% url 'index' %}">Khan Bahadur Awlad Hossein Degree College</a>.</strong>
    All rights reserved.

  </footer>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
  // Add the following code if you want the name of the file appear on select
  $(".custom-file-input").on("change", function () {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>
<!-- bs-custom-file-input -->
<script src="{% static 'dashboard/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dashboard/dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dashboard/dist/js/demo.js' %}"></script>



{% endblock %}