{% extends 'dashboard/base.html' %}
{% block content %}
{% load static %}

<div class="wrapper">

  <!-- NAV -->
  {%	include	"dashboard/nav.html"	with	user=user	%}

  <!-- SIDEBAR -->
  {%	include	"dashboard/sidebar.html"	with	user=user	%}

  <div class="content-header">
    <div class="container-fluid">
      <!-- {% if registered %}
      <div class="alert alert-success" role="alert">
        New user added successuflly.
      </div>
      {% endif %} -->
    </div><!-- /.container-fluid -->
  </div>
  <div class="content-wrapper" style="min-height: 1244.06px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Search student for {{name}}</h3>
                
              </div>
              {% if registered %}
              <br>
              <!-- /.card-header -->
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>No student found!</strong>
                <button onclick="reload" type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>              
              
              {% endif %}
            
              <!-- form start -->
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                  
                  <div class="form-group row">

                    <div class="col-md-4 mb-4">
                      <label for="country">Session</label>
                      <select class="custom-select d-block w-100" name="session">
                        <option value="">Choose...</option>
                        {% for i in session %}
                        <option>{{i.session_name}}</option>
                        {% endfor %}
                      </select>

                    </div>

                    <div class="col-md-4 mb-4">
                      <label for="lastName">Class</label>
                      <select class="custom-select d-block w-100" name="class" required>
                        <option value="">Choose...</option>
                        <option>HSC</option>
                        <option>Honours</option>
                        <option>Degree</option>
                      </select>

                    </div>

                    <div class="col-md-4 mb-4">
                      <label for="country">Year</label>
                      <select class="custom-select d-block w-100" name="year" required>
                        <option value="">Choose...</option>
                        <option>1st</option>
                        <option>2nd</option>
                        <option>3rd</option>
                        <option>4th</option>
                        
                      </select>
                    </div>

                    
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary swalDefaultSuccess" id="add"> <i class="fa fa-search" aria-hidden="true"></i> Search</button>
                </div>
              </form>
              

              {% if messages %}
              <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
              </div>
              {% endif %}

            </div>
            <!-- /.card -->


          </div>
          <!--/.col (left) -->
          <!-- right column -->

          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 1991-
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script> <a href="{% url 'index' %}">Khan Bahadur Awlad Hossein Degree College</a>.</strong>
    All rights reserved.

  </footer>
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
  
</script>
<!-- bs-custom-file-input -->
<script src="{% static 'dashboard/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dashboard/dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dashboard/dist/js/demo.js' %}"></script>

<script>

</script>

{% endblock %}