{% extends 'non-working-files/body.html' %}
{% block title %}
<title>History of Khan Bahadur Awlad Hossein Khan College, Manikganj</title>
{% endblock %}
{% block body %}
{%  load static %}

<style>
  .card {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
  }
</style>

</head>

<body>


  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">প্রতিষ্ঠানের ইতিহাস</h1>

        <!-- Author -->
        <p class="lead">
          কলেজ প্রতিষ্ঠার সংক্ষিপ্ত প্রেক্ষাপট নামকরণ এবং প্রাসঙ্গিক তথ্যঃ
        </p>

        <hr>

        <!-- HISTORY -->
        ১৯৯১ সনে মানিকগঞ্জ শহরের একমাত্র বেসরকারি কলেজ হিসেবে প্রতিষ্ঠিত হয় খানবাহাদুর আওলাদ হোসেন খান কলেজ। এ সময়কালে
        মানিকগঞ্জ জেলা সদরে এসএসসি উত্তীর্ণ শিক্ষার্থীদের উচ্চমাধ্যমিক স্তরে ভর্তি সংকট ভয়াবহ আকার ধারণ করে। সে সময় জেলা
        সদরের দুটি কলেজ, সরকারি দেবেন্দ্র কলেজ এবং সরকারি মহিলা কলেজের আসন সংখ্যার বিপরীতে ভর্তিচ্ছুশিক্ষার্থীর সংখ্যা
        বেশী হবার কারনে এসএসসি পরীক্ষায় উত্তীর্ণ শিক্ষার্থী এবং তাদের অভিভাবকরা অনেকটাই দিশেহারা অবস্থায় পড়েন।<br><br>

        এ সংকট কাটিয়ে উঠবার তাগিদ বোধ করেন জেলা প্রশাসন, সর্বস্তরের জনপ্রতিনিধিবৃন্দ, জেলার রাজনৈতিক ব্যক্তিবর্গ,
        ব্যবসায়ী-সামাজিক সাংস্কৃতি সংগঠণের নেতৃবৃন্দ। তারা এ সংকট নিরসনে তৎকালীন জেলা প্রশাসনকে জেলা শহরের প্রাণকেন্দ্রে
        একটি মানসম্পন্ন বেসরকারি কলেজ প্রতিষ্ঠার প্রয়োজনীয় পদক্ষেপ গ্রহণের জন্য অনুরোধ জ্ঞাপন করেন। জেলা প্রশাসনের আগ্রহ
        এবং সর্বস্তরের ব্যক্তিবর্গের অনুরোধে সাড়া দিয়ে তৎকালীণ জেলা প্রশাসক জনাব মোঃ মর্তুজা হোসেন মুন্সি শহরের
        প্রাণকেন্দ্রে কলেজ প্রতিষ্ঠার সক্রিয়ভাবে উদ্যোগ গ্রহণ করেন। কিন্তু কলেজ প্রতিষ্ঠার জন্য শহরের প্রাণকেন্দ্রে
        প্রয়োজনীয় জমি পাওয়াই বড় সংকট হিসেবে দেখা দেয়। তবে এ সংকট ছিল সাময়িক।<br><br>

        মানিকঞ্জের বিশিষ্ট শিক্ষানুরাগী ব্যক্তিত্ব কলেজ প্রতিষ্ঠার অন্যতম উদ্যোক্তা বাবু অমল কুমার বসুর প্রস্তাব এবং
        জেলা প্রশাসক জনাব মোঃ মর্তুজা হোসেন মুন্সি এবং শহরের গণ্যমান্য ব্যক্তিবর্গের আহবানে সাড়া দিয়ে কলেজের জন্য
        প্রয়োজনীয় জমি প্রদানের জন্য এগিয়ে আসেন মানিকগঞ্জের কৃতিসন্তান বিশিষ্ট সামাজিক ব্যক্তিত্ব, শিক্ষানুরাগী,
        সমাজসেবক, অসাম্প্রদায়িক ব্যক্তিত্ব মরহুম খানবাহাদুর আওলাদ হোসেন খান সাহেবের পরিবার। খানবাহাদুর আওলাদ হোসেন খানের
        সুযোগ্য সন্তান মানিকগঞ্জ পৌরসভার সাবেক চেয়ারম্যান, শিক্ষানুরাগী, সমাজসেবক ও বিশিষ্ট রাজনীতিক মরহুম বেলায়েত হোসেন
        খান এবং শিক্ষানুরাগী ও বিশিষ্ট সমাজসেবক জনাব এনায়েত হোসেন খান ঝিলু তাঁদের পরিবারের পক্ষ থেকে কলেজের জন্য জেলা
        শহরের প্রাণকেন্দ্র পোড়রা এলাকায় প্রয়োজনীয় জমি এবং অর্থ প্রদানের অঙ্গীকার করেন। তাঁদের এ মূল্যবান দান এবং
        মানিকগঞ্জের প্রতি মরহুম খানবাহাদুর আওলাদ হোসেন খান মহোদয়ের অবদানের স্মৃতিকে ধরে রাখার লক্ষ্যে কলেজটির নামকরণ করা
        হয় ‍‌"খানবাহাদুর আওলাদ হোসেন খান কলেজ।"<br><br>

        জমি সংকট কেটে যাবার সাথে সাথে জেলাপ্রশাসক মোঃ মর্তুজা হোসেন মুন্সিকে কলেজের সাংগঠনিক কমিটির সভাপতি এবং পরবর্তীতে
        কলেজ পরিচালনা পরিষদের সভাপতি করে কলেজ প্রতিষ্ঠার জন্য প্রাসঙ্গিক কার্যক্রম শুরু করেন। কলেজের প্রতিষ্ঠাতা অধ্যক্ষ
        হিসেবে দায়িত্ব অর্পন করা হয় জেলার খ্যাতিমান শিক্ষাবিদ, সর্বস্তরের মানুষের কাছে শ্রদ্ধেয় ব্যক্তিত্ব হিসেবে
        সুপরিচিত সরকারি দেবেন্দ্র কলেজের সাবেক উপাধ্যক্ষ অধ্যাপক আলী আহমদকে। কলেজের সূচনালগ্নে স্বেচ্ছাশ্রমে পাঠদানে
        এগিয়ে আসেন জেলার খ্যাতিমান প্রবীণ শিক্ষক অধ্যাপক বেনীমাধব চক্রবর্ত্তী, অধ্যাপক জয়নাল আবেদীন, অধ্যাপক আবু মোঃ
        সায়েদুর রহমান, অধ্যাপক মোঃ হায়দার আলী, অধ্যাপক বাবু রামলাল রায়, অধ্যাপক ওমর কাজী প্রমুখ। নবীনদের মধ্যে শিক্ষক
        হিসেবে পাঠদানসহ অন্যান্য ক্ষেত্রে গুরুত্বপূর্ণ দায়িত্ব পালন করেন হোসনে আরা বেগম, সাইফুদ্দিন আহমেদ। এরপর আর
        কলেজটিকে আর পিছনে ফিরে তাকাতে হয়নি। জেলার তৎকালীন জনপ্রতিনিধি, ব্যবসায়ী, সামাজিক-রাজনৈতিক ব্যক্তিবর্গের আর্থিক ও
        নৈতিক সহযোগিতা এবং জেলা প্রশাসক, কলেজ গভর্নিং বডির সভাপতি মোঃ মর্তুজা হোসেন মুন্সি এবং অধ্যক্ষ আলী আহমদের
        সুযোগ্য পরিচালনায় অল্প সময়ের মধ্যে কেবল জেলা শহরই নয় জেলার অন্যতম বেসরকারি কলেজ হিসেবে নিজেকে প্রতিষ্ঠিত করতে
        সক্ষম হয়।<br><br>

        পরবর্তীকালে মানিকগঞ্জ এর উন্নয়নের রূপকার, গণমানুষের নেতা, শিক্ষানুরাগী ব্যক্তিত্ব, গণপ্রজাতন্ত্রী বাংলাদেশ
        সরকারের মাননীয় স্বাস্থ্য ও পরিবারকল্যাণ মন্ত্রী জনাব জাহিদ মালেক স্বপন এম.পি মহোদয় এই কলেজের গভর্নিংবডির সভাপতির
        দায়িত্ব গ্রহণের পর কলেজটিতে বাংলা, হিসাববিজ্ঞান, ভূগোল ও ব্যবস্থাপনা বিষয়ে অনার্স কোর্স খোলাসহ কলেজে একটি নতুন
        চারতলা ভবনসহ অবকাঠামোগত দিক থেকে ব্যাপক উন্নতি সাধিত হয়েছে। তাঁর প্রতক্ষ্য অভিভাবকত্বে কলেজের শিক্ষা, খেলাধুলা,
        সাংস্কৃতিক কার্যক্রমের মানের ব্যাপক অগ্রগতি সাধিত হয়েছে।<br><br>


        <!-- /HISTORY -->

        <hr>

        <!-- Preview Image -->
        <div class="img-center">
          <div class="card mb-3 " style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{book.book_img.url}}" alt="{{book.book_title}}{{book.book_writter}}" height="100%"
                  width="100%">
                <!-- <svg class="bd-placeholder-img" width="100%" height="250" xmlns="{{book.book_img.url}}"
                  aria-label="{{book.book_title}}{{book.book_writter}}" preserveAspectRatio="xMidYMid slice" role="img">
                  <title>{{book.book_title}}</title>
                  <rect width="100%" height="100%"  /><text x="50%" y="50%" 
                    dy=".3em">
                </svg> -->

              </div>
            </div>
          </div>
        </div>

        <hr>

        <!-- Post Content -->
        <p class="lead">{{book.book_description}}</p>


        <hr>

        <!-- Comments Form -->





      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Notice board</h5>
          <div class="card-body">
            <!-- NOTICE CONTENT -->

            <ul class="list-group list-group-flush">
              {% for i in all_notice %}
              <a href="{% url 'show-notice' i.slug %}">
                <li class="list-group-item">{{i.slug}}</li>
              </a>
              {% endfor %}
            </ul>

            <!-- /NOTICE CONTENT -->
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  {% endblock %}