{% extends 'non-working-files/body.html' %}
{% block body %}
{%  load static %}



    <!-- USER PART -->

    <div class="card w-100">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="card">
                        <div class="card-body text-center">
                            <img class="avatar rounded-circle" src="{% static 'non-working-files/img/minister.jpg' %}" alt="মাননীয় সভাপতির, এমপি. মাননীয় মন্ত্রী, স্বাস্থ্য ও পরিবার কল্যাণ মন্ত্রণালয়, গণপ্রজাতন্ত্রী বাংলাদেশ সরকার ও সভাপতি
                                কলেজ গভর্ণিং বডি">
                            <h4 class="card-title">জাহিদ মালেক স্বপন</h4>
                            <h6 class="card-subtitle mb-2 text-muted">মাননীয় সভাপতির, এমপি. মাননীয় মন্ত্রী, স্বাস্থ্য ও
                                পরিবার কল্যাণ মন্ত্রণালয়, গণপ্রজাতন্ত্রী বাংলাদেশ সরকার ও সভাপতি
                                কলেজ গভর্ণিং বডি</h6>
                            <br>
                            <p class="card-text text-justify">
                                প্রতিটি মানুষ অমিত সম্ভাবনা নিয়ে পৃথিবীতে জন্মগ্রহণ করে, তার অন্তর্জগতে সুপ্ত থাকে বিপুল
                                সৃষ্টিশীলতা। মানুষের এই সম্ভাবনা এবং সৃষ্টিশীলতাকে বিকশিত করতে শিক্ষার কোন বিকল্প আজও
                                সৃষ্টি হয়নি, শিক্ষার বিকল্প নেই। কেবল শিক্ষাই পারে মানুষকে আলোকিত মানুষ হিসেবে গড়ে
                                তুলতে।
                                <br>
                                আলোকিত মানুষ গড়া, আত্মনির্ভর সমৃদ্ধ দেশ গড়ে তোলার ক্ষেত্রে শিক্ষা প্রতিষ্ঠানের গুরুত্ব
                                অসীম। আদর্শ শিক্ষক, সুন্দর পরিবেশ, সুষ্ঠু পরিকল্পনা ও গভীর নিষ্ঠার মাধ্যমে একটি শিক্ষা
                                প্রতিষ্ঠান সে শক্তি অর্জন করতে পারে। সেদিক থেকে আমার নির্বাচনী এলাকায় প্রতিষ্ঠিত
                                খানবাহাদুর আওলাদ হোসেন খান কলেজ নি:সন্দেহে একটি অনন্য প্রতিষ্ঠান। মানসম্মত লেখা পড়া, ভাল
                                ফলাফল, শিল্প-সাহিত্য এবং ক্রীড়ার ক্ষেত্রে ধারাবাহিক সাফল্যের মাধ্যমে কলেজের শিক্ষক এবং
                                শিক্ষার্থীরা তা প্রমাণ করেছেন। তারপরও অপূর্ণতা থাকেই। অপূর্ণতাটুকু পূরণ করা আর অর্জিত
                                সাফল্যকে ধরে রাখার কাজটি কঠিন। আমি বিশ্বাস করি কলেজ কর্তৃপক্ষ সে কঠিন কাজটি সাফল্যের
                                সাথে অব্যাহত রাখবেন।
                                <br>
                                জাতিরজনক বঙ্গবন্ধুর কন্যা, মাননীয় প্রধানমন্ত্রী জননেত্রী শেখ হাসিনার নেতৃত্বে বর্তমান
                                সরকার আধুনিক শিক্ষানীতি প্রণয়ন, শিক্ষায় তথ্যপ্রযুক্তির প্রসার, নারীদের অবৈতনিক শিক্ষার
                                বিরল সুযোগ সৃষ্টিসহ শিক্ষা ক্ষেত্রে যেসব যুগান্তকারী পদক্ষেপ গ্রহণ করেছেন। আমি গভীরভাবে
                                আশাবাদী এ কলেজের প্রতিটি শিক্ষার্থী শিক্ষকমন্ডলী তা শতভাগ কাজে লাগাবেন। সরকারের বিজ্ঞান
                                ও প্রযুক্তিবান্ধব নীতির সর্বোচ্চ ব্যবহারের মাধ্যমে মৌলবাদ ও ধর্মান্ধতামুক্ত একটি
                                ডিজিটাল বাংলাদেশ বিনির্মানে অগ্রণী ভ‚মিকা রাখবেন।
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ./Team member -->


    <!-- /USER PART -->

{% endblock %}