{% extends 'non-working-files/body.html' %}
{% block body %}
{%  load static %}




    <!-- USER PART -->

    <div class="card w-100">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="card">
                        <div class="card-body text-center">
                            <img class="avatar rounded-circle" src="{% static 'non-working-files/img/pri.jpg' %}" alt="অধ্যক্ষ, 
                            খান বাহাদুর আওলাদ হোসেন খান ডিগ্রি কলেজ, মানিকগঞ্জ">
                            <h4 class="card-title">আশুতোষ চক্রবর্ত্তী</h4>
                            <h6 class="card-subtitle mb-2 text-muted">অধ্যক্ষ,
                                <br>
                                খান বাহাদুর আওলাদ হোসেন খান ডিগ্রি কলেজ, মানিকগঞ্জ</h6>
                            <br>
                            <p class="card-text text-justify">
                                ঐতিহ্যের চারণভূমি,সমৃদ্ধ এক জনপদ মানিকগঞ্জ। শিক্ষা সংস্কৃতির ক্ষেত্রে এ জনপদের রয়েছে
                                গৌরবময় অধ্যায়। সে অধ্যায়ের উত্তরাধীকার হিসেবে জেলার মানসম্মত উচ্চশিক্ষার সংকট কাটাতে
                                ১৯৯১ সালে প্রতিষ্ঠিত হয়েছিল খানবাহাদুর আওলাদ হোসেন খান কলেজ। তৎকালীন জেলা প্রশাসন, সকল
                                রাজনৈতিক নেতৃবৃন্দ, সামাজিক সাংস্কৃতিক ব্যক্তিবর্গ সর্বোপরি মানিকগঞ্জের সর্বজন শ্রদ্ধেয়
                                ব্যক্তিত্ব মরহুম খানবাহাদুর আওলাদ হোসেন খান সাহেবের পরিবারের সদস্যদের অসীম ত্যাগের ফসল এ
                                কলেজ। সুদীর্ঘ ২৯টি বছর পর আজ আমরা অকুণ্ঠিত চিত্তে বলতে পারি তাঁদের আকাঙ্ক্ষা আজ পূর্ণতার
                                পথে। ২৯বছরেও কলেজের সামগ্রিক অর্জন গর্ব করবার মত।
                                <br>
                                জন্মলগ্ন থেকেই এ প্রতিষ্ঠানটি প্রতিবছরই সাফল্যেও পেরিয়েছে একেকটি ধাপ। প্রথমে কেবল
                                উচ্চমাধ্যমিক স্তর দিয়ে যাত্রা শুরু হয়েছিল। সময়ের চাহিদা পূরণ করার অঙ্গীকারে গত ২৯টি বছরে
                                সাফল্যের সাথে এ কলেজে উচ্চমাধ্যমিক স্তর থেকে ডিগ্রি স্তরে উন্নীত হয়েছে একযুগেরও বেশী
                                আগে।
                                <br>
                                গণপ্রজাতন্ত্রী বাংলাদেশ সরকারে স্বাস্থ্য ও পরিবারকল্যাণ মন্ত্রণালয়ের মাননীয় মন্ত্রী,কলেজ
                                গভর্নিং বডির সম্মানিত সভাপতি,সম্মানিত সংসদ সদস্য আলহাজ্ব জাহিদ মালেক স্বপনের ঐকান্তিক
                                প্রচেষ্টায় গত বছর থেকে আমাদের কলেজটি অনার্স স্তরের কলেজে উন্নীত হয়েছে। বাংলা,
                                হিসাববিজ্ঞান, ব্যবস্থাপনা এবং ভ‚গোল এই ৪টি বিষয়ে অনার্স কোর্স চালু রয়েছে। শুধু
                                শিক্ষাস্তরের উন্নতি নয়, ছোট্ট চারচালা একটি টিনের ঘর থেকে একাধিক পাকা ভবনও হয়েছে কলেজ
                                আঙিনায়।
                                <br>
                                কলেজের পরীক্ষার ফলাফল, সাংস্কৃতিক কর্মকান্ড, স্কাউটিং, খেলাধুলায় এসেছে অসাধারণ সাফল্য।
                                প্রতিবারের মত এবারও জেলার সবকটি কলেজকে পিছনে ফেলে বিভিন্ন ইভেন্টে সেরা সাফল্য ধরে রেখেছে
                                কলেজের শিক্ষার্থীরা। বিভিন্ন মহতী মানুষের আর্থিক সহযোগিতায় দরিদ্র ও মেধাবী
                                ছাত্র-ছাত্রীদের জন্য কলেজে চালু করা হয়েছে নিজস্ব শিক্ষাবৃত্তি। এসবই হয়েছে কলেজের গভর্নিং
                                বডি, অভিভাবকবৃন্দ, শিক্ষক-কর্মচারীর আন্তরিক চেষ্টার ফসল হিসেবে।
                                <br>
                                কেবল আমরাই নই জেলার সাধারণ মানুষের কাছেও আমাদের কলেজ আজ অন্যতম বিদ্যাপীঠ। আমাদের বিশ্বাস
                                আছে অচিরেই আমরা আমাদের এ কলেজকে জেলার শ্রেষ্ঠতম কলেজে রূপান্তরিত করবো। সে লক্ষ্যে পাঠ
                                পরিকল্পনাসহ গ্রহণ করা হয়েছে নানা পদক্ষেপ। কলেজ গভর্নিং বডির সম্মানিত সভাপতি মাননীয় সংসদ
                                সদস্য আলহাজ্ব জাহিদ মালেক স্বপনসহ গভর্নিং বডির শ্রদ্ধেয় সদস্যবৃন্দের নিরন্তর তদারকি আর
                                দিক নির্দেশনায় কলেজের সুযোগ্য শিক্ষকমন্ডলী আন্তরিক চেষ্টা চালিয়ে যাচ্ছেন লেখাপড়াসহ
                                কলেজের সার্বিক মানোন্নয়নের জন্য।
                                <br>
                                কলেজের শিক্ষা, শিক্ষকমন্ডলী, কলেজের অতীত এবং বর্তমানকে শিক্ষার্থী এবং অভিভাবকদের কাছে
                                তুলে ধরবার লক্ষ্যে এই ওয়েবসাইট চালু করা হয়েছে। এর ফলে কলেজের অতীত-বর্তমান,
                                শিক্ষকমন্ডলীসহ কলেজের নানা দিক শিক্ষার্থীদের কাছে ভিন্ন এক অনুপ্রেরণার জন্ম দেবে বলে
                                আমার বিশ্বাস। আমাদের এ শিক্ষা প্রতিষ্ঠানের সাফল্যের যাত্রায় সবার আন্তরিক সহযোগিতা কামনা
                                করি।</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ./Team member -->


    <!-- /USER PART -->

{% endblock %}